@model Garage_2_0.Models.ParkedVehicle

@{
    ViewBag.Title = "Check out your vehicle from garage";
}

<h2>Check out a vehicle from the garage</h2>

<h3>Are you sure you want to check out your vehicle?</h3>
<div>
    <h4>Parked Vehicle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RegCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfWheels)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfWheels)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCheckedIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCheckedIn)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <input class="form-check-input" type="checkbox" id="wantReceipt" name="wantReceipt" value="true"  />
        <label for="wantReceipt">Print Receipt</label>
        <div class="form-actions no-color">
            <input type="submit" value="Check Out" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
