@model IEnumerable<Garage_2_0.Models.ParkedVehicle>

@{
    ViewBag.Title = "Vehicles in garage";
}

<h2>Vehicles in garage</h2>

<p>
    The parking fee is 65 SEK/hour.
    <br>
        <p style="font-size:125%;">
            @Html.ActionLink("Park a new vehicle", "Create")

</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Registration Code", "Index", new { orderBy = "regcode" })
        </th>
        <th>
            @Html.ActionLink("Owner", "Index", new { orderBy = "owner" })
        </th>
        <th>
            @Html.ActionLink("Vehicle Type", "Index", new { orderBy = "type" })
        </th>
        <th>
            @Html.ActionLink("Brand", "Index", new { orderBy = "brand" })
        </th>
        <th>
            @Html.ActionLink("Date Checked In", "Index", new { orderBy = "datecheckedin" })
        </th>
        <th style="color:maroon;">Action</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RegCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Owner.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type.TypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCheckedIn)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Check Out", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
