@model IEnumerable<Garage_2_0.Models.ParkedVehicle>

@{
    ViewBag.Title = "Vehicles in garage";
}

<h2>Vehicles in garage</h2>

<p>
    The parking fee is 65 SEK/hour.
    <br>
        <p style="font-size:125%;">
            @Html.ActionLink("Park a new vehicle", "Create")
        </p>
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Registration Code", "Index", new { orderBy = "regcode" })
        <th>
            @Html.ActionLink("Vehicle Type", "Index", new { orderBy = "type" })
        <th>
            @Html.ActionLink("Brand", "Index", new { orderBy = "brand" })
        </th>
        @*<th>
            @Html.ActionLink("Model", "Index", new { orderBy = "model" })
        </th>
        <th>
            @Html.ActionLink("Color", "Index", new { orderBy = "color" })
        </th>
        <th>
            @Html.ActionLink("Number Of Wheels", "Index", new { orderBy = "numberofwheels" })
        </th>*@
        <th>
            @Html.ActionLink("Date Checked In", "Index", new { orderBy = "datecheckedin" })
        </th>
        <th style="color:brown;">Action</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RegCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfWheels)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.DateCheckedIn)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Check Out", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
