@model Garage_2_0.Models.UnparkedVehicleViewModel

@{
    ViewBag.Title = "Receipt";
}

<h2>Receipt</h2>

<div>
    <h4>Parking Receipt Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RegCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayTextFor(model => model.Type.TypeName)
        </dd>

        <dt>
           Owner
        </dt>
        <dd>
            @Html.DisplayTextFor(model=>model.Owner.FirstName)
            @Html.DisplayTextFor(model=>model.Owner.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfWheels)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfWheels)
        </dd>

        <dt><hr /></dt>
        <dd><hr /></dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateCheckedIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCheckedIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCheckedOut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCheckedOut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HourlyRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HourlyRate) SEK
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TimeParked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeParked)
        </dd>
        <dt><hr /></dt>
        <dd><hr /></dd>

        <dt>
            @Html.DisplayNameFor(model => model.VATRate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VATRate) %
        </dd>
        <dt>
            @Html.DisplayNameFor(model => Model.VAT)
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.VAT) SEK
        </dd>
        <dt>
            <hr />
        </dt>
        <dd>
            <hr />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalCharge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalCharge) SEK
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
